quelpa
.cache
eshell
auto-save-list
elpa
transient
places
.places
backups
vendor
undo
emojis
request
exports
url

projectile-bookmarks.eld
projectile.cache
history
history.el
recentf
user_config/user.el
bookmarks
session*
/tramp
/.mc-lists.el
/%backup%~
/tutorial/
README.html